@use "../base/typography" as *;
@use "../abstracts/variables" as *;
.mail-card {
  border-radius: $base-card-border_radius;
  margin-bottom: 27px;
  background: $color__white;
  .message-attachment {
    padding: 20px 41px 30px 120px;
    p {
      margin-bottom: 9px;
    }
  }
}
