@use "../abstracts/variables" as *;

.query__search-container {
  position: relative;
  width: 100%;
  margin-bottom: 54px;

  .query__search-input-container {
    position: relative;
    i {
      position: absolute;
      right: 8px;
      top: 12px;
    }
  }

  input {
    width: 100%;
    background: $color__white 0% 0% no-repeat padding-box;
    caret-color: $color__black;
    color: $color__black;
    border: 0;
    border-radius: 10px;
    padding: 0.25em 0.8em;
    font-size: 1em;
    height: 47px;
    transition: box-shadow 0.5s ease;

    // Adds shadow to input
    &:hover,
    &:focus {
      outline: 0;
      box-shadow: 0 0.5em 1.5em 0.25em rgba($color__light-grey-background, 0.2);
    }
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  /* Search icon */
  .query__search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-56%);
    z-index: 1;
  }

  .query__search-input,
  .query__search-input:focus {
    padding-left: 48px;
    border-color: $color__dark-grey-300;
  }
}
