@use "../base/typography" as *;
@use "../abstracts/variables" as *;
.content__layout-container {
  width: 100%;
  height: auto;
}

.page-header {
  justify-content: center;
  padding: 20px;
  font-size: $font__size__md;
  background-color: $brand__color-secondary;
}

.attachment {
  color: $brand__color-primary;
}
