@use "../base/typography" as *;
@use "../abstracts/variables" as *;
.content__layout-container {
  width: calc(100% - 380px);
  height: auto;
}

.page {
  display: flex;
}

.attachment {
  color: $brand__color-primary;
}
