@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/extend" as *;
.navbar-nav {
  width: 380px;
  height: 100vh;
  background-color: $color__light-grey-background;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .icon {
    margin-right: 28px;
  }

  li {
    position: relative;
    padding: 8px 8px 8px 52px;
    margin-bottom: 7px;
    color: $color-text;
    box-shadow: none;
    font-size: $font__size__x-lg;
  }
  .collapse {
    display: none;
  }

  .profile {
    padding: 42px 0 39px 52px;
  }

  .button {
    margin: 0;
    position: absolute;
    display: table;
    width: 100%;
  }

  .folder {
    margin-top: 87px;

    h1 {
      @extend %nav-l-m;
      font-size: 30px;
      font-weight: 800;
    }
    ul {
      margin-top: 40px;
    }
  }
}

li.nav-item.active {
  background-color: $color__white;
  &::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 8px;
    left: 0px;
    top: 2px;
    background: #3ebbec;
    border-radius: 0px 1.998px 1.998px 0px;
  }
}

.nav-item {
  a {
    text-decoration: none;
    color: $color-text;
  }

  &.active {
    .nav-link {
      .icon {
        color: $brand__color-primary;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-nav a:not(:first-child) {
    display: none;
  }
  .navbar-nav a.collapse {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar-nav.responsive {
    position: relative;
  }
  .navbar-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* use of mixins for color change*/
.icon-folder {
  &.office {
    @include folder-icon($brand__color-primary);
  }
  &.personal {
    @include folder-icon(#ff8892);
  }
  &.freelance {
    @include folder-icon(#ffdd62);
  }
}
