/* Font family */
$font__family-base: "Public Sans", sans-serif;

/* Font weight */
$font__weight-lighter: lighter;
$font__weight-light: 300;
$font__weight-normal: 400;
$font__weight-semibold: 600;
$font__weight-bold: 700;
$font__weight-bolder: bolder;

$font__weight-base: $font__weight-normal;

/* Font sizes */
$font__size-base: 1rem; // Assumes the browser default, typically `16px`
$font__size__md: $font__size-base * 1.125; // 18px
$font__size__lg: $font__size-base * 1.25; // 20px
$font__size__x-lg: $font__size-base * 1.5; //24px
//border radius
$base-border_radius: $font__size-base * 0.938; //15px
/* Heading font size */
$h1-font__size: $font__size-base * 1.5; //24px
$h2-font__size: $font__size__lg; //18px

a:not([href]) {
  cursor: pointer;
  text-decoration: none;
}
