@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.mail-list {
  background: $color__dark-grey-300;
  padding: 51px 30px 57px 30px;
  height: 100vh;
  overflow-y: scroll;
  //Scroll bar
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(148, 133, 133);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(148, 138, 138);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #746e6e;
  }
  .profile-block {
    display: flex;
    align-items: flex-start;
    justify-items: flex-end;
    padding: 30px 0px 0px 30px;
    .col-5 {
      display: flex;
      justify-content: flex-end;
      span {
        font-weight: 700;
        padding-right: 30px;
        margin-top: 8px;
        font-size: $font__size__sm;
      }
    }
  }
}

.message-container {
  .actions-section {
    padding: 52px 0px 0px 152px;
    .icon {
      font-size: medium;
      padding-right: 25px;
      color: $color-text-light;
    }
  }

  .profile {
    margin: 98px 0px 0px 60px;
  }

  .message-body {
    padding: 52px 0px 0px 152px;
  }
  .detail {
    padding-left: 152px;
    padding-right: 203px;
    .time {
      font-size: $font__size__sm;
      margin: 30px 0 28px 0;
      display: inline-block;
      font-weight: bold;
    }
    .user-name {
      font-size: $font__size__x-lg;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .description {
      margin-bottom: 29px;
    }
  }
}

.image-container {
  margin-top: 29px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}
