<div class="navbar-nav">
  <lib-user-profile
    [url]="'assets/images/Image 5.png'"
    [data]="userDetails"
  ></lib-user-profile>
  <ul>
    <div *ngFor="let nav of navMenuItems | groupBy : 'group' : 'service'">
      <li class="nav-item" routerLinkActive="active" [routerLink]="nav.link">
        <a class="nav-link" aria-current="page">
          <span [ngClass]="nav.icon"></span>
          {{ nav.name }}</a
        >
      </li>
    </div>
  </ul>

  <div class="folder">
    <h1>Folders</h1>
    <ul>
      <div *ngFor="let g of navMenuItems | groupBy : 'group' : 'group'">
        <li class="nav-item" routerLinkActive="active" [routerLink]="g.link">
          <a class="nav-link" aria-current="page">
            <span [ngClass]="g.icon"></span>
            {{ g.name }}</a
          >
        </li>
      </div>
    </ul>
  </div>
</div>
